@font-face {
  font-family: "Hug Me Tight";
  src: url("assets/hug-me-tight.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
}

#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 6vh;
  width: 100vw;
  max-width: 100%;
  padding: 1vh;
  background-color: #20d3b0;
  color: white;

  display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  position: relative;
}

#logo {
  font-family: "Hug Me Tight";
  font-size: 35px;
  position: absolute;
  margin-top: 2px;
}

#content {
  height: 92vh;
  padding: 1vh;
}

#content-container {
  display: -webkit-flex;
	display: flex;
	flex-direction: row;
  height: 100%;
}

#content-left {
  margin-right: 1vh;
  flex: 0 1.2 1000px;
  height: 100%;

  display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#stream-container {
  width: 100%;
  position: relative;
}

#stream-image {
  width: 100%;
  flex: 0 1 60%;
  z-index: -1;
}

#face-rectangles-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#face-rectangles-inner {
  position: absolute;
  top: 0;
  left: 0;
}

#stats {
  background-color: #FFEAD0;
  flex: 1 1 40%;
  padding: 1vh;

  display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#stats-content {
  flex-grow: 1;
  padding: 2vh;

  display: -webkit-flex;
	display: flex;
	flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

#stats-overall {
  color: white;
  padding: 2vh;
  height: auto;
  width: auto;

  display: -webkit-flex;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-content: center;
}

#stats-overall p {
  padding: 0;
  margin: 0;
  text-align: center;
  /*line-height: 50%;*/
}

#students {
  flex: 0 1 600px;
  height: 92vh;
  overflow-y: scroll;
}

.student-container {
  width: auto;
  background-color: #FFEAD0;
  height: 20vh;
  margin-bottom: 1vh;
  padding: 2vh;

  display: -webkit-flex;
	display: flex;
	flex-direction: row;
  justify-content: center;
  align-content: center;
}

.student-stat {
  padding: 2vh;
  height: 16vh;
  width: 16vh;
  color: white;
  display: -webkit-flex;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-content: center;
}

.student-stat p {
  margin: 0;
  text-align: center;
}

.student-container:last-child {
  margin-bottom: 0;
}
